*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 412px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.color-gray{
    background-color: #e9e9ed;
}

.color-green{
    background-color: #00d342;    
}

.color-red{
    background-color: #ff0000; 
}

.font-size-small{
    font-size: 12px;
}

.font-size-medium{
    font-size: 14px;
}

.font-size-big{
    font-size: 18px;
}